.alert{
    background-color: #252629;
    border-color: #794747;
    border-style: solid;
    border-width: 1px;
    color: #9c6d6d;
    text-align: center;
}
input{
    color: whitesmoke;
}
button{
    margin-top: 10px;
}
span{
    color: #99aab5;
    font-size: large;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.loginForm {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}
.formContainer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.innerContainer{
    width: 300px;
    text-align: center;
    background-color: #2a2b2e;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    outline-style: solid;
    outline-width: 1px;
    border-color: rgb(97, 97, 97);
    filter: drop-shadow(0 0mm 4mm rgb(31, 31, 31));
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: rgb(139, 98, 160) !important;
   }
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(93, 86, 136) !important;
   }
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(139, 98, 160) !important;
  } 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: darkslateblue !important;;
  }

button{
    transition: all .2s ease-in-out;
}