.card{
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2a2b2e;
    margin: auto;
    filter: drop-shadow(0 0mm 1mm rgb(31, 31, 31));
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51, 51, 51);
    display: table;
    text-align: center;
    color: #99aab5;
}
span{
    font-size: large;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btnContainer{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}
button{
    transition: all .2s ease-in-out;
}
.inputDivsContainer{
    display: inline-flex;
}
.inputContainer{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: rgb(139, 98, 160) !important;
   }
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(93, 86, 136) !important;
   }
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(139, 98, 160) !important;
  } 
::ng-deep .mat-form-field .mat-form-field-infix{
  width: initial;
}
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: darkslateblue !important;;
  }
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.alert{
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    background-color: #252629;
    border-color: #794747;
    border-style: solid;
    border-width: 1px;
    color: #9c6d6d;
    justify-content: center;
    margin-top: 15px;
}